<div class="dashboard-list">
    <!-- @todo: use routerLink to navigate to booking component, and userDetail component -->
    <a href="" class="dashboard-card-link">
        <mat-card class="dashboard-card">
            <mat-card-title>Make a Booking</mat-card-title>
            <div class="mat-card-divider"></div>
            <mat-card-content>
                Book your transport today and get 10% off on first booking!
            </mat-card-content>
        </mat-card>
    </a>
    <a href="" class="dashboard-card-link">
        <mat-card class="dashboard-card">
            <mat-card-title>Update Your Info</mat-card-title>
            <div class="mat-card-divider"></div>
            <mat-card-content>
                Update your details for us, to serve you better!
            </mat-card-content>
        </mat-card>
    </a>
</div>