<div class="dashboard-list">
    <!-- @todo: use routerLink to navigate to booking component, and userDetail component -->
    <a routerLink="/booking" routerLinkActive="active" ariaCurrentWhenActive="page" class="dashboard-card-link">
        <mat-card class="dashboard-card">
            <mat-card-title>Make a Booking</mat-card-title>
            <div class="mat-card-divider"></div>
            <mat-card-content>
                Book your transport today and get 10% off on first booking!
            </mat-card-content>
        </mat-card>
    </a>
    <a routerLink="/user-details" routerLinkActive="active" ariaCurrentWhenActive="page" class="dashboard-card-link">
        <mat-card class="dashboard-card">
            <mat-card-title>Update Your Info</mat-card-title>
            <div class="mat-card-divider"></div>
            <mat-card-content>
                Update your details for us, to serve you better!
            </mat-card-content>
        </mat-card>
    </a>
    <a routerLink="/booking-list" routerLinkActive="active" ariaCurrentWhenActive="page" class="dashboard-card-link">
        <mat-card class="dashboard-card">
            <mat-card-title>My Bookings</mat-card-title>
            <div class="mat-card-divider"></div>
            <mat-card-content>
                Show your previous or upcoming bookings with us!
            </mat-card-content>
        </mat-card>
    </a>
</div>